<h1>Cities</h1>
<p>Here's a list of cities: feel free to play with it.</p>
<p *ngIf="!cities"><em>Loading...</em></p>
<button *ngIf="cities" [routerLink]="['/city/']" class="btn-add" color="primary" mat-flat-button>Add City</button>
<mat-form-field [hidden]="!cities">
  <input #filter (keyup)="onFilterTextChanged(filter.value)" matInput
         placeholder="Filter by name (or part of it)...">
</mat-form-field>
<table (matSortChange)="loadData()" [dataSource]="cities"
       [hidden]="!cities"
       [matSortActive]="defaultSortColumn"
       [matSortDirection]="defaultSortOrder" class="mat-elevation-z8"
       mat-table
       matSort>
  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <th *matHeaderCellDef mat-header-cell mat-sort-header="id">ID</th>
    <td *matCellDef="let city" mat-cell>{{city.id}}
      <a [routerLink]="['/city', city.id]">{{city.name}}</a>
    </td>
  </ng-container>
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th *matHeaderCellDef mat-header-cell mat-sort-header="name">Name</th>
    <td *matCellDef="let city" mat-cell>{{city.name}}</td>
  </ng-container>
  <!-- Lat Column -->
  <ng-container matColumnDef="lat">
    <th *matHeaderCellDef mat-header-cell mat-sort-header="lat">Latitude</th>
    <td *matCellDef="let city" mat-cell>{{city.lat}}</td>
  </ng-container>
  <!-- Lon Column -->
  <ng-container matColumnDef="lon">
    <th *matHeaderCellDef mat-header-cell mat-sort-header="lon">Longitude</th>
    <td *matCellDef="let city" mat-cell>{{city.lon}}</td>
  </ng-container>

  <ng-container matColumnDef="countryName">
    <th *matHeaderCellDef mat-header-cell mat-sort-header="countryName">Country</th>
    <td *matCellDef="let city" mat-cell>
    <a [routerLink]="['/country', city.countryId]">
      {{city.countryName}}
    </a>
    </td>
  </ng-container>

  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
</table>

<!-- Pagination directive -->
<mat-paginator (page)="getData($event)"
               [hidden]="!cities"
               [pageSizeOptions]="[10, 20, 50, 100]"
               [pageSize]="10"
               showFirstLastButtons></mat-paginator>

