<div class="country-edit">
  <h1>{{title}}</h1>
  <p *ngIf="this.id && !country"><em>Loading...</em></p>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <!-- Name -->
    <mat-form-field>
      <mat-label>Name:</mat-label>
      <input formControlName="name" matInput placeholder="Type a name"
             required>
      <mat-error *ngFor="let error of getErrors(form.get('name')!, 'Name') ">
        {{error}}
      </mat-error>
    </mat-form-field>
    <!-- ISO2 -->
    <mat-form-field>
      <mat-label>
        ISO 3166-1 ALPHA-2 Country code (2 letters)
      </mat-label>
      <input formControlName="iso2" matInput placeholder="Insert the ISO2 Country code"
             required>
      <mat-error *ngFor="let error of getErrors(form.get('iso2')!, 'ISO 3166-1 ALPHA 2 Country code',
      {'pattern' : 'requires 2 letters.'}) ">
        {{error}}
      </mat-error>
    </mat-form-field>
    <!-- ISO3 -->
    <mat-form-field>
      <mat-label>
        ISO 3166-1 ALPHA-3 Country code (3 letters)
      </mat-label>
      <input formControlName="iso3" matInput placeholder="Insert the ISO3 Country code"
             required>
      <mat-error *ngFor="let error of getErrors(form.get('iso3')!, 'ISO 3166-1 ALPHA 3 Country code',
      {'pattern' : 'requires 3 letters'}) ">
        {{error}}
      </mat-error>
    </mat-form-field>
    <div>
      <button color="primary" mat-flat-button
              type="submit">
        {{ this.id ? "Save" : "Create" }}
      </button>
      <button [routerLink]="['/countries']" color="secondary"
              mat-flat-button>
        Cancel
      </button>
    </div>
  </form>
</div>

<!-- Form debug info panel -->
<div class="info">
  <div class="info-header">Form Debug Info</div>
  <div class="info-body">
    <div class="info-label">
      Form Value:
    </div>
    <div class="info-value">
      {{ form.value | json }}
    </div>
    <hr />
    <div class="info-label">
      Form Status:
    </div>
    <div class="info-value">
      {{ form.status | json }}
    </div>
  </div>
</div>

